name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: publish
    env:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'

      - name: Get Outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short "$GITHUB_SHA")"

      - name: yarn install
        run: yarn install --prefer-offline --frozen-lockfile --no-progress --non-interactive

      - name: yarn lint
        run: yarn lint

      - name: yarn build
        run: yarn build

      - name: Publish
        run: |
          cp package.json build
          cp README.md build
          cp .npmrc build
          cd build
          npm version --no-git-tag-version prerelease
          npm publish --access public
